body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    cursor: default; /* Adicionado para remover a "mãozinha" em todo o body */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0; /* Removemos o padding para evitar espaços em branco */
}

.banner {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0; /* Removemos a margem inferior para evitar espaços */
}

.banner img {
    width: 100%;
    display: block;
    cursor: default; /* Adicionado para remover a "mãozinha" nas imagens do banner */
}

.content img {
    width: 100%; /* Ocupa 100% da largura disponível */
    display: block;
    margin-bottom: 0; /* Removemos a margem inferior para evitar espaços */
    cursor: default; /* Adicionado para remover a "mãozinha" nas imagens do conteúdo */
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .content {
        padding: 0; /* Garantimos que não há padding em dispositivos móveis */
    }

    .content img {
        width: 100%; /* Ocupa toda a largura da tela */
        margin-bottom: 0; /* Remove espaços entre as imagens */
    }

    .banner {
        margin-bottom: 0; /* Remove espaços abaixo do banner */
    }
}
